::selection {
  background: hotpink;
  color: #201;
}

:root {
  background: #201;
  color: peachpuff;
}

:any-link {
  color: peachpuff;
}

:focus {
  outline-color: currentColor;
}

.snooze {
  text-shadow: 0 -1ex 0 plum;
}

.ooze {
  text-shadow: 0 1ex 0 pink;
}
